<div class="web-section">
		<div class="event-detail">
				<div class="event-container">
						<div class="event-title">
								Upcoming Events.
						</div>
						<div class="event-content">

								<div class="content-box">

										<div class="box">
												<div class="box-image">
														<img src="https://unsplash.it/300x300?random" alt="">
												</div>
												<div class="box-description">
														Pengenalan VUE JS
												</div>
										</div>

										<div class="box">
												<div class="box-image">
														<img src="http://unsplash.it/300x300?random" alt="">
												</div>
												<div class="box-description">
														Pengenalan VUE JS
												</div>
										</div>

										<div class="box">
												<div class="box-image">
														<img src="http://unsplash.it/300x300?random" alt="">
												</div>
												<div class="box-description">
														Pengenalan VUE JS
												</div>
										</div>

										<div class="box">
												<div class="box-image">
														<img src="http://unsplash.it/300x300?random" alt="">
												</div>
												<div class="box-description">
														Pengenalan VUE JS
												</div>
										</div>

								</div>

								<div class="content-more">
										<button class="btn btn-default">
												LIHAT SELENGKAPNYA
										</button>
								</div>

						</div>
				</div>
		</div>
</div>
