<div class="web-section">
		<div class="about-us">
				<div class="about-container">
						<div class="section-title">
								Tentang Kami
						</div>
						<div class="section-description">
								<p>
										<span class='brand'>MedanJS</span> merupakan sub-regional dari komunitas Javascript Indonesia untuk daerah
										Medan dan sekitarnya. Meskipun kami memiliki nama yang terkait dengan salah satu
										bahasa pemrograman web paling terkenal saat ini, namun kami selalu terbuka terhadap
										semua kontribusi dari semua member. Member kami berasal dari berbagai kalangan
										dan latar belakang baik programmer dengan bahasa A, B ataupun C, baik seorang network
										engineer, manager bahkan sampai mahasiswa.

								</p>
						</div>
				</div>
		</div>
</div>
