<div class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="170">
		<div class="container">
				<div class="row">
						<div class="navbar-header">
								<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
										<span class="sr-only"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="">
										<div class="image-brand">
												<img src="/assets/images/logo.jpeg" alt="" class="img img-responsive">
										</div>
								</a>
						</div>
						<div class="collapse navbar-collapse" id="#navbar-menu">
								<ul class="nav navbar-nav navbar-right">
										<li>
												<a href="#">
														EVENTS
												</a>
										</li>
										<li>
												<a href="">
														ARTICLES
												</a>
										</li>
										<li>
												<a href="">
														CONTACTS
												</a>
										</li>
								</ul>
						</div>
				</div>
		</div>
</div>
