<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    {% include navbar.html %}

    <div class="website-container">

      {% include header.html %}

      {% include about-us.html %}

      {% include about-event.html %}

    </div>

    {% include footer.html %}

    <script src="/assets/local/jquery.min.js"></script>
		<script src="/assets/local/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="/assets/local/particles.min.js"></script>
		<script>
				(() => {
						particlesJS('particle-js', {
								particles: {
										number: {
												value: 80,
												density: {
														enable: true,
														value_area: 800
												}
										},
										color: {
												value: '#fafafa'
										},
										shape: {
												type: 'circle',
										},
										size: {
												value:3
										},
										interactivity: {
												detect_on: "canvas",
												events: {
														onhover: {
																enable: false
														},
														onclick: {
																enable: false
														},
														resize: false
												}
										},
										"line_linked": {
												"enable": true,
												"distance": 150,
												"color": "#C69A09",
												"opacity": 0.4,
												"width": 1
										},
										"modes": {
												"grab": {
														"distance": 400
												},
												"bubble": {
														"distance": 400,
														"size": 40,
														"duration": 2,
														"opacity": 8,
														"speed": 3
												},
												"repulse": {
														"distance": 200,
														"duration": 0.4
												},
												"push": {
														"particles_nb": 4
												},
												"remove": {
														"particles_nb": 2
												}
										}
								}
						})
				})()
		</script>

  </body>

</html>
