$color-brand: #F3DF4A;
$color-light: #fff;
$color-dark: #333;
$color-almost-dark: lighten(#333, 4%);

$color-grey: #757575;
$color-almost-grey: #f3f3f3;

$color-button-readmore: darken($color-brand, 2%);
