@font-face {
		font-family: raleway;
		src: url('/public/local/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
		font-family: raleway-bold;
		src: url('/public/local/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
		font-family: openSans;
		src: url('/public/local/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
		font-family: openSans-bold;
		src: url('/public/local/fonts/Open_Sans/OpenSans-Bold.ttf');
}

