@import "./_breakpoints";

@font-face {
		font-family: raleway;
		src: url('/assets/local/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
		font-family: raleway-bold;
		src: url('/assets/local/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
		font-family: openSans;
		src: url('/assets/local/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
		font-family: openSans-bold;
		src: url('/assets/local/fonts/Open_Sans/OpenSans-Bold.ttf');
}
